# dotfiles
.*
!.travis
!.gitignore
# compiled python files
*.py[co]
/bin/
/include/
/lib/
/local/
/man/
/share/
/data/
/odoo/external-src/
/odoo/links
/odoo/src/
/.db/
/odoo/my_project_name.egg-info/
/odoo/repo.yaml

/pip-selfcheck.json
