git+https://github.com/akretion/locomotivecms-python-client@master#egg=locomotivecms
git+https://github.com/cheah/adyen-cse-python@master#egg=adyen-cse-python
stripe==2.0.3
python-magic
vcrpy==2.0.1
requests==2.31.0
Adyen==2.0.0
elasticsearch
vcrpy-unittest
# vcrp is not yet compatible with the change done in boto3
# https://github.com/kevin1024/vcrpy/issues/382
# for now we freeze the boto3 version
boto3==1.7.84
